{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/netflix-ico.png' %}" type="image/x-icon">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</head>
<body class="bg-black text-gray-100">
    <nav class="flex justify-between items-center py-3 px-4 fixed w-full z-50">
        <div class="w-6/12">
            <a href="{% url 'netflixapp:home' %}">
                <img src="{% static 'images/netflix.png' %}" alt="logo" class="w-5/12 md:w-2/12">
            </a>
        </div>

        <div>
            {% if not request.user.is_authenticated %}
            <a href="{% url 'user:login' %}" class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                Войти
            </a>
            <a style="margin-left: 10px;" href="{% url 'user:signup' %}" class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                Зарегистрироваться
            </a>
            {% else %}
            <a style="margin-right: 10px;" href="{% url 'netflixapp:profiles' %}" class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                Изменить профиль
            </a>
            <a href="{% url 'user:logout' %}" class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                Выйти
            </a>
            {% endif %}
        </div>
    </nav>

{% block content %}
{% endblock %}

<footer class=" px-5 py-10 ">
        <ul class="flex justify-between items-center">
            <li>&copy; I don't care about your rights | 2024</li>
            <li> Netflix Clone</li>
        </ul>
    </footer>
</body>
</html>
